@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');


.containerCollapsible {
   width: 100%;
   padding: 3% 0%;
   display: flex;
   align-items: center;
   background: black;
   height: 100vh;
   align-items: flex-start;
   margin-bottom: 5%;

}


.titleCareerPath{
    color:white;
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    top: -100px;
    margin-bottom: 15%;
    text-align: left;

}

mat-accordion.mat-accordion.collapsible {
    width: 75%;
}

.imageCollapsible, .careersCollapsible {
   width: 50%;
   display: flex;
   justify-content: center;
   
}

.imageCollapsible img {
   width:60%;
}

.careersCollapsible {
   display: flex;
   flex-direction: column;
   text-align: center;
}

ul {
    margin-top: 4%;

 }
 
 ul li {
    text-align: left;
    color: gray;
    font-family: 'Roboto Condensed', sans-serif;
 
    font-weight: 200;
 }
 
 .expertlist {
    display: flex;
}

ul.exp {
    width: 50%;
}

 /*Estilos de Collapsible*/
 mat-panel-title.mat-expansion-panel-header-title {
    display: block;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

mat-expansion-panel-header.initial {
    background-color: #09A387;
}

mat-expansion-panel-header.initial.mat-expanded {
    background:#09A387;
}

mat-expansion-panel-header.senior {
    background-color: #6C93E1;
}

mat-expansion-panel-header.senior.mat-expanded {
    background:#6C93E1;
}

mat-expansion-panel-header.expert {
    background-color: #941342;
}

mat-expansion-panel-header.expert.mat-expanded {
    background:#941342;
}

mat-expansion-panel-header.seniormgmt {
    background-color: #ED873B;
}

mat-expansion-panel-header.seniormgmt.mat-expanded {
    background:#ED873B;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
    background-color: #f4f4f4;
}


mat-expansion-panel-header:hover mat-panel-title.mat-expansion-panel-header-title {
    color: black;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    cursor: pointer;
    color: black;
}

