<div class="triforcePage">
    <h1>The Triforce</h1>
    <h2>{{nameUser}}, you are here</h2>
    <div class="triforceTabs">
        <mat-tab-group  mat-stretch-tabs  class="tabsModule">
            <mat-tab label="Expertise" >
               <img src="../../../assets/ui_studio.png" alt="Imagen de Expertise">
            </mat-tab>
            <mat-tab label="Site">
                <img src="../../../../assets/cope_image.png" alt="Imagen de Site">
            </mat-tab>
            <mat-tab label="Business">
                <img src="../../../../assets/account.png" alt="Imagen de Business">
            </mat-tab>
          </mat-tab-group>
    </div>
</div>

<div class="buttons">
    <button (click)="goBack()" class="buttonPrevious">Previous</button>
    <button (click)="goNext()" class="buttonNext">Next</button> 
 </div>
